@import "./components/dashboard/dashboard.scss";
@import "./components/donutChart/donut.scss";
@import "./components/registration/registration.scss";
@import "./components/workout/workout.scss";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  word-wrap: break-word;
}

*::-webkit-scrollbar {
  display: none;
}

*:focus, 
.btn:focus, 
input:focus,
select:focus,
textarea:focus,
button:focus,
.mr-sm-2:focus {
  outline: none;
  box-shadow: none;
}

.Main {
  text-align: center;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  font-family: 'Jura', sans-serif;
}

.btn-flat {
  background-color: #1abc9c;
  margin-right: 2vw;
  width: 7vw;
  min-width: 150px;
  color: #fff;
  font-size: 1.2em;
  font-family: 'Jura', sans-serif;
}

.btn-flat:hover, .workout-list-add:hover, .workout-list-delete:hover {
  filter: opacity(85%);
  color: #131F30;
}

.color-nav {
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.navbar {
  background: #061223;
  min-height: 80px;
  height: 7vh;
}

.navbar-brand {
  color: white !important;
  margin-left: 2vw;
  font-size: 2em ;
  font-family: 'Jura', sans-serif;
}

.Dark {
  background: #22344e;
  color: #BBCBCC;
  .user-info, .user-data {
    background: #131F30;
  }

  .profile-pic-wrapper, .workout-list-wrapper, .workout-list-header,
  .workout-list-add {
    border-right: 1px solid #202C3D;
  }

  .workout-list-entry-edit {
    border-left: 1px solid #202C3D;
  }

  .workout-list-items, .exercise-list-row {
    border-top: 1px solid #202C3D;
  }

  .workout-list-entry, .workout-header,
  .workout-stats, .exercise-list-row {
    border-bottom: 1px solid #202C3D;
  }

  .workout-summary-strength, .workout-summary-cardio, 
  .workout-summary-calories, .workout-summary {
    background: #061223;
  }

  .exercise-list-row {
    background: #0E1A2B;
  }

  .workout-summary-strength {
    color: #9b59b6;
  }

  .workout-summary-cardio {
    color: #f1c40f;
  }

  .workout-summary-calories {
    color: #2ecc71;
  }

  .workout-list-header, .workout-header,
  .workout-stats {
    color: #dff9fb;
  }

}

.Light {
  background: #f6f9fa;
  color: #333;
  .user-info, .user-data  {
    background: #fff;
  }

  .profile-pic-wrapper, .workout-list-wrapper, .workout-list-header,
  .workout-list-add {
    border-right: 1px solid #95a5a6;
  }

  .workout-list-entry-edit {
    border-left: 1px solid #95a5a6;
  }

  .workout-list-items, .exercise-list-row {
    border-top: 1px solid #95a5a6;
  }

  .workout-list-entry, .workout-header,
  .workout-stats, .exercise-list-row {
    border-bottom: 1px solid #95a5a6;
  }

  .workout-summary-strength, .workout-summary-cardio, 
  .workout-summary-calories, .workout-summary {
    background: #DDE0E1;
  }

  .exercise-list-row {
    background: #CED1D2;
  }

  .workout-summary-strength {
    color: #9b59b6;
  }

  .workout-summary-cardio {
    color: #f39c12;
  }

  .workout-summary-calories {
    color: #2ecc71;
  }
}
